@page "/AddAdult"
@using Assignment1.Data
@using Models
@inject IAdultData AdultData
@inject NavigationManager NavigationManager;
@attribute [Authorize(Policy = "MustLogIn")]
<h3>Add Adult</h3>

<EditForm Model="@newAdultItem" OnValidSubmit="@AddNewAdult">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div class="form-group">
        First Name: <br/>
        <InputTextArea rows="1" @bind-Value="newAdultItem.FirstName"/>
    </div>
    <div class="form-group">
        Last Name: <br/>
        <InputTextArea rows="1" @bind-Value="newAdultItem.LastName"/>
    </div>
    <div class="form-group">
        Job Title: <br/>
        <InputTextArea rows="1" @bind-Value="newAdultItem.JobTitle.JobTitle"/>
    </div>
    <div class="form-group">
        Hair Color: <br/>
        <InputTextArea rows="1" @bind-Value="newAdultItem.HairColor"/>
    </div>
    <div class="form-group">
        Eye Color: <br/>
        <InputTextArea rows="1" @bind-Value="newAdultItem.EyeColor"/>
    </div>
    <div class="form-group">
        Salary: <br/>
        <InputNumber rows="1" @bind-Value="newAdultItem.JobTitle.Salary"/>
    </div>
    <div class="form-group">
        Age: <br/>
        <InputNumber rows="1" @bind-Value="newAdultItem.Age"/>
    </div>
    <div class="form-group">
        Weight: <br/>
        <InputNumber rows="1" @bind-Value="newAdultItem.Weight"/>
    </div>
    <div class="form-group">
        Height: <br/>
        <InputNumber rows="1" @bind-Value="newAdultItem.Height"/>
    </div>
    <div class="form-group">
        Sex: <br/>
        <InputSelect @bind-Value="newAdultItem.Sex">
            <option value="">Select</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </InputSelect>
    </div>
    <p class="actions">
        <button class="btn btn-outline-dark" type="submit">Add</button>
    </p>
</EditForm>

@code {
    private Adult newAdultItem = new Adult();

    private void AddNewAdult()
    {
        AdultData.AddAdult(newAdultItem);
        NavigationManager.NavigateTo("/Adults");
    }

}